menu {
    max-width: 960px;
    color: rgb(102, 9, 97);
    text-decoration: none;  
    margin: 0 auto;
    text-align: left;
}

.logo {
    width: 350px; 
    height: auto; 
}

footer {
    text-align: left;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    font-size: 20pt;
    margin: 0; 
    width: 100vw; 
    position: relative; 
    left: 50%;
    right: 50%; 
    transform: translateX(-50%);
}

div.code {
    margin: 0 auto;
    text-align: left; 
    font-size: 12pt;
    font-family: "Courier New", monotype;
    font-weight: bold;
    font-style: italic;
    line-height: 120%;
}

header {
    margin: 0; 
    text-align: center;
    width: 100%; 
    background-color: white; 
    padding: 10px; 
    height: 80px;
    color: rgb(102, 9, 97);
    background-position: center;
    background-size: 10%;
}

.img-header {
    float: left;
    margin: 10px; 
    width: 150px; 
    height: 80px;
}

.nav {
    position: fixed; 
    top: 10px; 
    right: 10px; 
    font-size: 20pt;
    z-index: 1000;
}

.nav a {
    color: rgb(255, 0, 149);
    margin: 10px;
    text-decoration: none;
}

.nav a:hover {
    color: black;
    transition: 1s;
}

body {
    background-color: #FFE4E1;
    text-align: left;
}

.test {
    margin: 0 auto;
    text-align: left; 
    margin-top: 20px;
    width: 100%;
    text-align: center;
}

.test .marks {
    list-style-position: inside;
    text-align: center;
    margin: 0px;
}

table {
    padding: 5px;
    border: 1px solid rgb(128, 0, 60); 
    margin: auto; 
    font-size: 30pt;
    border-collapse: collapse;
    width: 50%;
}

table td {
    text-align: center;
}

#pink {
    background-color: pink; 
}

#lightgreen {
    background-color: lightgreen;
}
